body {
  font-family: 'DM Sans', sans-serif;
}

h1 {
  font-size: 2rem;
  color: #27549d;
}

h2 {
  font-size: 1.5rem;
  color: #40649e;
}

h3 {
  font-size: 1.25rem;
  color: #55719d;
}

p {
  font-size: 1rem;
  color: #000000;
}

a {
  color: #336198;
  text-decoration: none;
}

li {
  margin-bottom: 0.5rem;
}